@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap");

:root {
	--white: #fff;
	--black: #000;
	--orange: rgb(255, 111, 0);
	--body-color: #eafaff;
	--blue-1: rgb(64, 196, 236);
	--blue-2: rgb(31, 141, 184);
	--blue-3: rgb(31, 141, 184, 0.35);
	--blue-4: rgb(139, 176, 199);
	--blue-5: rgb(0, 125, 188);
	--github-fill: var(--blue-5);
	--github-color: var(--body-color);
	--github-focus: var(--orange);
	--shadow-1: 0px 5px 10px 0.2rem rgba(210, 210, 211, 0.4);
	--shadow-2: 0 0.1rem rgba(255, 255, 255, 0.65);
	--shadow-3: 0px 10px 20px 5px rgba(16, 145, 185, 0.1);
	--loader-border: 16px solid #f3f3f3;
	--nunito: "Nunito Sans", sans-serif;
	--container-color: rgba(255, 255, 255, 0.4);
	--pattern: url("data:image/svg+xml,%3Csvg width='100' height='20' viewBox='0 0 100 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.184 20c.357-.13.72-.264 1.088-.402l1.768-.661C33.64 15.347 39.647 14 50 14c10.271 0 15.362 1.222 24.629 4.928.955.383 1.869.74 2.75 1.072h6.225c-2.51-.73-5.139-1.691-8.233-2.928C65.888 13.278 60.562 12 50 12c-10.626 0-16.855 1.397-26.66 5.063l-1.767.662c-2.475.923-4.66 1.674-6.724 2.275h6.335zm0-20C13.258 2.892 8.077 4 0 4V2c5.744 0 9.951-.574 14.85-2h6.334zM77.38 0C85.239 2.966 90.502 4 100 4V2c-6.842 0-11.386-.542-16.396-2h-6.225zM0 14c8.44 0 13.718-1.21 22.272-4.402l1.768-.661C33.64 5.347 39.647 4 50 4c10.271 0 15.362 1.222 24.629 4.928C84.112 12.722 89.438 14 100 14v-2c-10.271 0-15.362-1.222-24.629-4.928C65.888 3.278 60.562 2 50 2 39.374 2 33.145 3.397 23.34 7.063l-1.767.662C13.223 10.84 8.163 12 0 12v2z' fill='%23448bff' fill-opacity='0.09' fill-rule='evenodd'/%3E%3C/svg%3E");
}

html {
	box-sizing: border-box;
}

body {
	margin: 0;
	min-height: 100vh;
	background-color: var(--body-color);
	background-image: var(--pattern);
	color: var(--black);
	font-family: var(--nunito);
	font-weight: 700;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.quote-container {
	width: auto;
	max-width: 900px;
	padding: 20px 30px;
	border-radius: 10px;
	background-color: var(--container-color);
	box-shadow: var(--shadow-3);
}

.quote-text {
	font-size: 2.65rem;
	color: var(--blue-2);
}

.long-quote {
	font-size: 2rem;
}

.fa-quote-left {
	font-size: 3rem;
	color: var(--blue-3);
}

.quote-author {
	margin-top: 15px;
	font-size: 2rem;
	font-weight: 300;
	font-style: italic;
	color: var(--blue-4);
}

.button-container {
	margin-top: 15px;
	display: flex;
	justify-content: space-between;
}

button {
	cursor: pointer;
	font-size: 1.2rem;
	height: 2.5rem;
	border: none;
	border-radius: 8px;
	color: var(--white);
	background: var(--blue-5);
	outline: none;
	padding: 0.5rem 1.8rem;
	box-shadow: var(--shadow-1);
}

button:focus,
button:hover {
	background-color: var(--orange);
}

button:active {
	transform: translate(0, 0.3rem);
	box-shadow: var(--shadow-2);
}

.fa-twitter {
	padding: 2px 0 0;
	font-size: 1.5rem;
}

.loader {
	border: var(--loader-border);
	border-top: 16px solid var(--blue-5);
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 2s linear infinite;
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.github-corner:focus svg path {
	fill: var(--github-focus);
}

.github-corner:focus .octo-arm,
.github-corner:focus .octo-body {
	fill: var(--github-color);
}

.github-corner:hover .octo-arm,
.github-corner:focus .octo-arm {
	animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
	0%,
	100% {
		transform: rotate(0);
	}
	20%,
	60% {
		transform: rotate(-25deg);
	}
	40%,
	80% {
		transform: rotate(10deg);
	}
}

@media screen and (max-width: 1000px) {
	.quote-container {
		margin: auto 15px;
	}

	.quote-text {
		font-size: 1.5rem;
	}

	.quote-author {
		font-size: 1.5rem;
	}

	#icon {
		display: none;
	}

	#new-quote {
		padding: 0.6em;
		font-size: 16px;
	}
}

@media (max-width: 500px) {
	.github-corner:hover .octo-arm {
		animation: none;
	}
	.github-corner .octo-arm {
		animation: octocat-wave 560ms ease-in-out;
	}
}
